# Git
.git/
.gitignore

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
backend/venv/

# Node / React
**/node_modules/
frontend/dist/
frontend/build/

# Local configuration / secrets
**/.env
**/.env.local
**/serviceAccountKey.json
